
:root {
  --pale : #C0B8B4;
  
  --gold: #D2B655;

  --moss: #3B5426;

  --gray: #535151;

  --manatee: #91909F;

  --black: #020202;

  --white: #FFFFFF;

  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0rem;
  padding: 0rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  color: var(--black);
}

code {
  font-family: 'Raleway', sans-serif;
}


button {
  padding: 0.8em 1.8em;
  border: 2px solid var(--black);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: var(--black);
 }
 
 button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: black;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: white;
 }

 option {
  background-color: var(--moss);
 }

 .input-group {
  position: relative;
 }
 
 input {
  background-color: var(--moss);
  color:var(--dark-blue);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 1.5rem;
 }

 select {
  background-color: var(--moss);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-inline-end: 1rem;
  size: 3rem;
  height: 2rem;
  width: 15rem;
 }

 * {
  font-size: 1.2rem;
 }

a:visited {
  color: var(--gold);
}

a:link {
  color: var(--gold) ;
  text-decoration: none;
}

img{
  max-width: 100%;
}