
:root {
  --gray: #F3F3F3;
  --merengue: #FFF0C9;
  --dark-blue: #010A3D;
  --yellow: #FFC600;
  --black: #0A0A0A;
  --white:#FFFFFF;
  
  font-family: 'Bonheur Royale', cursive;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0rem auto;
  padding: 0rem auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: var(--dark-blue);
}

code {
  font-family: 'Raleway', sans-serif;
  font-family: 'Bonheur Royale', cursive;
}



button {
  font-size: 18px;
  color: var(--dark-blue);
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  padding: 0.5rem;
  margin: 0.1rem;
}

button:focus,
button:hover {
  color: var(--dark-blue);
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--yellow);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

 option {
  background-color: transparent;
  border-bottom: var(--dark-blue) solid 2px;
  color: var(--dark-blue);
  font-family: 'Raleway', sans-serif;
 }

 .input-group {
  position: relative;
 }
 
 input {
  background-color: transparent;
  border: none;
  border-bottom: var(--dark-blue) solid 2px;
  color: var(--dark-blue);
  font-family: sans-serif;
  height: 2rem;
  font-family: 'Raleway', sans-serif;

 }

 select {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  padding-inline-end: 1rem;
  font-size: 0.5rem;
  size: 1rem;
  height: 1rem;
  width: 8rem;
  color: var(--dark-blue);
  border: none;
 }


 * {
  font-size: 1.2rem;
  color: #010A3D;
 }

a:visited {
  color: var(--yellow);
}

a:link {
  color: var(--white) ;
  text-decoration: none;
}

img{
  max-width: 100%;
}

