.cardRecipe{
  border: solid;
  border-color: var(--black);
  border-width: 0.1rem;
  max-width: 18rem;
  width: 100%;
  height: 35rem;
  position: relative;
  display: grid;
}

.imageCard{
  max-height: 18rem;
  max-width: 18rem;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.cardRecipe button {
  position: absolute;
  top: 14rem;
  left: 4rem;
  align-self: center;
}

.imageCard:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
