/* From uiverse.io by @alexruix */
.card {
  width: 20rem;
  height: 25rem;
  background: var(--white);
  position: relative;
  border: 2px solid var(--gray);
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 0rem;
  gap: 1rem;
  top: 1rem;
  border-bottom: 2px solid var(--dark-blue);
  background-color: var(--gray);
}

.card-details {
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

.text-title {
 font-size: 2.3rem;
 margin-top: 1.2rem;
 font-weight: bold;
 padding-inline: 0rem;
 font-family: 'Bonheur Royale', cursive;
 font-weight: 900;
 margin-inline: 0rem;
 padding-inline: 2rem;
 margin-bottom: 0rem;
 padding-bottom: 0.5rem ;
 line-height: 1.7rem;
 position: absolute;
 bottom: 20rem;
 background-color: white;
 opacity: 0.8;
 padding-top: 0.5rem;
 width: 100%;
}

.info {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0rem;
  padding: 0rem;
  grid-column: 1 / span 3;
  position: absolute;
  align-items: center;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  top: 14rem;
}

.card-details p {
 font-size: 0.5rem;
 position: absolute;
 padding-inline: 1rem;
 margin: 0rem;
}

 .imageCard {
  grid-column: 1 / span 3;
  height: 5rem;
  width: 20rem;
  margin: 0rem auto;
  position: absolute;
  block-size: auto;
  line-height: 10rem;
  top: 0rem;
 }

 .card-details ul {
  font-size: 0.3rem;
  align-items: center;
  display: inline-block;
  text-align: center;
  margin: 0rem auto;
  padding: 0rem;
 }

 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border: none;
  background-color: var(--dark-blue);
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: var(--black);
 }
 
 /*Text*/
 
 /*Hover*/
 .card:hover {
  border-color: var(--yellow);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 
.vector {
  position: absolute;
  bottom: 5rem;
  left: 4.5rem;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 2rem;
  z-index: 1;
}
  
.diets {
  position: absolute;
  top:20rem;
  left: 0rem;
  margin: 0 auto;
  padding: 0 auto;
  display: inline-block;
  max-width: 10rem;
  height: 4.5rem;
  border-right: 2px solid var(--gray);
  font-size: 0.1rem;
}
  
.hearth {
  font-size: 2rem;
  margin: 0rem;
  padding: 0rem;
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  color: var(--dark-blue);
}

.rate {
position: absolute;
bottom: 3rem;
max-width: 3rem;
right: 3.5rem;
}

.dishTypes {
position: absolute;
bottom: 5rem;
max-width: 8rem;
right: 1rem;
}

.summaryC{
  padding-inline: 0.5rem;
  margin-top: 1rem;
  flex: auto;
  display: flex;
}

