

.create{
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  background-position: top ;
  background-repeat: no-repeat;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(10,10,10,1) 0%, rgba(1,10,61,1) 35%, rgba(10,10,10,1) 100%);
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 110vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}



.form-container {
  top: 0rem;
  background-color: var(--white);
  align-items: center;
  margin: 0 auto;
  width: 20rem;
  height: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
  padding-left: 1.5rem;
}

.titleF{
  color: var(--dark-blue);
  z-index: 3;
  padding-top: 2rem;
  padding-bottom: 0rem;
  margin: 0rem;
  font-family: 'Bonheur Royale', cursive;
  font-size: 2.5rem;
}

/* From uiverse.io by @mrhyddenn */
.form__group {
  position: relative;
  padding: 5px 0 0;
  margin-top: 10px;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  outline: 0;
  font-size: 17px;
  color: var(--dark-blue);
  padding: 4px 0;
  background: transparent;
  transition: border-color 0.2s;
  height: 2rem;
}

.form__group h4 {
  position: absolute;
  top: 0rem;
  left: 11rem;
  font-size: 1.5rem;
}

.rate1 {
  position: absolute;
  top: 1rem;
  left: 9rem;
  width: 2rem;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--dark-blue);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--yellow), var(--yellow)) 1;
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--gray);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

option {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  height: 0.5rem;
  margin-top: 1.1rem;
  padding: 0rem;
  padding-left: 0.5rem;
  z-index: 100;
}



.errors{
  font-size: 0.5rem;
  padding: 0rem;
  color: red;
  position: absolute;
  left: 11rem;
  top: 1.5rem;
  font-weight: bolder;
  line-height: 1rem;
  width: 8rem;
  text-align: left;
}

.choose {
  color: var(--dark-blue);
  background-color: var(--gray);
  font-size: 1rem;
  font-weight: bold;
  font-style: oblique;
  padding: 0.1rem;
  border-radius: 0px;
  margin: 0 auto;
  bottom: 5.5rem;
  width: 100%
}

.selectors{
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0px;
  font-size: 0.5rem;
  border-bottom: 3px solid var(--white);
  position: relative;

}

.chooseSpans {
  max-width: 7rem;
  max-height: 4rem;
  bottom: 4.5rem;
  position: absolute;
  line-height: 0.8rem;
  left: 13.5rem;
  text-align: left;
  height: 5rem;
}

.chooseSpans span {
  font-size: 0.5rem;
  background-color: var(--white);
}

.chooseSpans2 {
  max-width: 7rem;
  max-height: 4rem;
  bottom: 1rem;
  position: absolute;
  line-height: 0.8rem;
  left: 13.5rem;
  text-align: left;
  height: 5rem;
}

.chooseSpans2 span {
  font-size: 0.5rem;
  background-color: var(--white);

}

.ok {
  background-color: var(--yellow);
}