

.form-container {
  top:3rem;
  margin-top: 3rem;
  padding-top: 0rem;
  background-color: var(--white);
  align-items: center;
  margin: 0 auto;
  width: 20rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  box-shadow: 0px 50px 50px 50px rgba(0, 0, 0, 0.75);
  padding-left: 0rem;
}

.titleF{
  color: var(--dark-blue);
  z-index: 3;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin: 0rem;
  font-family: 'Bonheur Royale', cursive;
  font-size: 2.5rem;
}

/* From uiverse.io by @mrhyddenn */
.form__group {
  position: relative;
  padding: 5px 0 0;
  margin-top: 10px;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--dark-blue);
  outline: 0;
  font-size: 17px;
  color: var(--dark-blue);
  padding: 4px 0;
  background: transparent;
  transition: border-color 0.2s;
  height: 2rem;
}

.form__group h4 {
  position: absolute;
  top: 0rem;
  left: 11rem;
  font-size: 1.5rem;
}

.rate1 {
  position: absolute;
  top: 1rem;
  left: 9rem;
  width: 2rem;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 4px;
  color: var(--dark-blue);
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--yellow), var(--yellow)) 1;
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: -10px;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--gray);
  font-weight: 700;
  color: var(--dark-blue);
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

option {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  height: 0.5rem;
  margin-top: 1.1rem;
  padding: 0rem;
  padding-left: 0.5rem;
  z-index: 100;
}


.errors{
  font-size: 0.5rem;
  padding: 0rem;
  color: red;
  position: absolute;
  left: 11rem;
  top: 1.5rem;
  font-weight: bolder;
  line-height: 1rem;
  width: 8rem;
  text-align: left;
}

.choose {
  color: var(--dark-blue);
  background-color: var(--gray);
  font-size: 1rem;
  font-weight: bold;
  font-style: oblique;
  padding: 0.1rem;
  border-radius: 0px;
  margin: 0 auto;
  bottom: 5.5rem;
  width: 100%
}

.selectors{
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0px;
  font-size: 0.5rem;
  border-bottom: 3px solid var(--white);
  position: relative;

}

.chooseSpans {
  max-width: 7rem;
  max-height: 4rem;
  bottom: 8rem;
  position: absolute;
  line-height: 0.8rem;
  left: 13.5rem;
  text-align: left;
  height: 5rem;
}

.chooseSpans span {
  font-size: 0.5rem;
  background-color: var(--white);
}

.chooseSpans2 {
  max-width: 7rem;
  max-height: 4rem;
  bottom: 4rem;
  position: absolute;
  line-height: 0.8rem;
  left: 13.5rem;
  text-align: left;
  height: 5rem;
}

.chooseSpans2 span {
  font-size: 0.5rem;
  background-color: var(--white);

}

.ok {
  background-color: var(--yellow);
}

@media screen and (max-width:1100px) {
  .form-container{
  height: 80%;
  }
}

/*---------------------Background----------------------*/

.create {
  background: url(https://img.freepik.com/free-vector/healthy-food-background-with-flat-design_23-2147851183.jpg?w=2000);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  -webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
/*min-height: calc(100vh - 2rem);*/
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-evenly;
overflow: hidden;
position: relative; 
height: 100vh;
}

.create::before, 
.create::after {
content: "";
width: 70vmax;
height: 70vmax;
position: absolute;
background: rgba(255, 255, 255, 0.07);
left: -20vmin;
top: -20vmin;
animation: /* morph */ 15s linear infinite alternate, spin 20s linear infinite;
z-index: 1;
will-change: border-radius, transform;
transform-origin: 55% 55%;
pointer-events: none; 
}

.create::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: /* morph */ 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 20% 20%; 
}

@-webkit-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0 50%
}
}

@keyframes morph {
0% {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%; }
100% {
  border-radius: 40% 60%; } 
}

@keyframes spin {
to {
  transform: rotate(1turn); 
} 
}
.st0{display:none;}
.st1{display:inline;}
.st2{opacity:0.29;}
.st3{fill:#FFFFFF;}
.st4{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
.st5{clip-path:url(#SVGID_4_);}
.st6{clip-path:url(#SVGID_6_);}
.st7{clip-path:url(#SVGID_8_);}
.st8{clip-path:url(#SVGID_10_);}
.st9{fill:none;}
.st10{clip-path:url(#SVGID_12_);}
.st11{opacity:0.7;}
.st12{clip-path:url(#SVGID_14_);}
.st13{opacity:0.2;}
.st14{clip-path:url(#SVGID_16_);}
.st15{opacity:0.3;fill:#FFFFFF;enable-background:new    ;}

@media screen and (max-width:800px) {
  .form-container {
    height: 90%;
  }
}