.cater3-movingBG {
  height: 110%;
  background-image: url(../../assets/bgLanding.jpg);
  background-size: 110%;
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear alternate infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% { background-position: 50% 0; }
  100% { background-position: 0 0; }
}

.flyinTxtCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 10%;
    margin-left: 1rem;
    width: 80%;
}
.flyIn {
  color: var(--white);
  font-family:'Raleway';
  text-transform:uppercase;
  line-height:1.2em;
  position:relative;
  text-shadow: 0px 20px 20px var(--black); 
  max-width: 100%;
  max-height: 100%;
}
.lineOne {
transition-delay:.2s; 
transition:.4s ease in;
  text-align: left;
  animation: txtFlyIn .3s linear;
}
.lineTwo {
  transition-delay:.4s; 
  transition:.6s ease in;
  animation: txtFlyIn .6s linear;
  text-align: left;
}
.lineThree {
  transition-delay:.6s; 
  transition:.8s ease in;
  animation: txtFlyIn .9s linear;
  text-align: left;
}
.lineTwo {
  font-size:110px;
  font-weight: bold;
  letter-spacing: 10px;
  left: 0.2rem;
}

.lineThree, .lineOne {
  left:0.5rem;
  font-size:30px;
  font-weight: bold;
  letter-spacing: 8px;
}
.lineFour {
  transition-delay:2s; 
  transition:2s ease in;
  animation: fadeIn 2s linear;
  width: 100%;
  display:inline-block;
  color:var(--dark-blue);
  max-width:63%;
  max-width: 22em;
  font-size: 32px;
  padding: .2em .5em;
  margin-top: 30px;
  background-color: var(--yellow);
  text-align: center;

}
@keyframes fadeIn{
  0% { opacity:0;}
  100% { opacity:1;}
}
@keyframes txtFlyIn{
  0% { transform:translateX(-100%); }
  100% { transform:translateX(0%); }
}

@media screen and (max-width:1000px) {
  .cater3-movingBG {
    padding-top: 10rem;
    height: 100vh;
    background-position: center;
    background-size: cover;

    background-attachment: fixed;
    z-index: -1;
    
    background-repeat: repeat-x;
    animation: animatedBackground 15s linear alternate infinite;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
  }
  .lineFour {
    width: 80%;
  }
}