
.center {
  position: absolute;
  top: 50%;
  left: 50%;
}


.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--gold);
  display: grid;
  place-items: center;
  animation: zoomin 1.5s infinite alternate-reverse;
  position: relative;
 }
 
 .inner {
  background-color: var(--white);
  width: 80%;
  height: 80%;
  border-radius: 100%;
 }
 
 @keyframes zoomin {
  0% {
   transform: scale(1);
   box-shadow: 0 0 100px 20px var(--white);
  }
 
  100% {
   transform: scale(1.5);
   box-shadow: 0 0 100px 20px var(--white);
  }
 }
 
 