.pages {
  gap: 1rem;
  margin: 1rem;
  margin-top: 8rem;
  padding: 0rem;
}

.pages button {
  gap: 1rem;
  margin: 0.2rem;
  max-width: 4rem;
  max-height: 1.8rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem;
    font-size: 1rem;
    z-index: 0;
}
.active{

  color: var(--dark-blue);
  border-bottom: 2px solid var(--dark-blue);
}

.active:hover{
  color: var(--white);
}

@media screen and (max-width:900px) {
  .pages{
    margin-top: 11.5rem;
  }

}