.detailsR{
    top: 3rem;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0rem;
    padding-top: 1rem;
    padding-inline: 12rem;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
}

.div2 {
  margin: 0 auto;
  padding: 0 auto;
  grid-column: 1 / span 2;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--gray);
}

.titleD {
  font-size: 6rem;
  margin: 0 auto;
  padding: 0rem auto;
  text-align: center;
  color: var(--dark-blue);
  font-family: 'Bonheur Royale', cursive;
 line-height: 4.2rem;


}

.imageD {
  width: 100%;
}

.div3 {
  margin: 0 auto;
  padding: 0 auto;
  grid-column: 1 / span 1;
  width: 100%;
  height: 100%;
}

.div3 h3{
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.hs {
  color: var(--dark-blue);
  padding: 0rem;
  margin: 0rem;
}

.div4{
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 0rem auto;
  text-align: center;
  grid-column: 2 / span 2;
  background-color: var(--dark-blue);
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.summaryD{
  color: var(--white);
}

.div5 {
  margin: 0 auto;
  grid-column: 1 / span 2;
  background-color: var(--merengue);
  width: 100%;
  height: 100%;
}

.div5 h3 {
  font-size: 2rem;
  padding: 0 auto;
  margin: 0 auto;
  align-items: center;
}

.div5 span {
  padding: 0 auto;
  margin: 0 auto;
  align-self: center;
}

.dietsV{
  max-width: 3rem;
}

.div6 {
  background-color: var(--gray);
  width: 100%;
  height: 100%;
  align-items: center;
}

@media screen and (max-width:800px) {
  .detailsR{
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-inline: 2rem;
    
  }
  .titleD {
    font-size: 3rem;
  }
  .detailsR p {
    font-size: 1rem;
  }

}